In [1]:
import dimspy
import os
import cPickle as pickle
import matplotlib.pyplot as plt

data_directory = "/home/keo7/Data/dimspy-example/"

In [2]:
spectrum_list = dimspy.SpectrumList()

parameters = {
    "MS1 Precision" : 1e-6,
    "MSn Precision" : 1e-6,
    "Measured Precision" : 0.01,
    "Scan Range" : "apex",
    "Peak Type" : "peaks"
}

for index, file in enumerate(os.listdir(data_directory)):
    if file.endswith(".p"):
        pass
    else:
        spectrum = dimspy.Spectrum(os.path.join(data_directory, file),
                                   polarity="negative",
                                   injection_order=index,
                                   parameters=parameters)
        spectrum_list.append(spectrum)

In [3]:
processor = dimspy.SpectrumListProcessor(spectrum_list)

processor.binning(bin_size=0.25, n_jobs=8, statistic="mean")
processor.center(n_jobs=8)
processor.value_imputation(method="all")

In [ ]:
for spectrum in processor.to_list():
    spectrum.transform(method="LOG10")
    spectrum.normalise(method="TIC")
    
processor.to_spectrumlist().flatten_to_dataframe()

In [ ]:
processor.scale(method="mc", n_jobs=8)

In [4]:
processor.to_spectrumlist().flatten_to_dataframe()

,63.0,63.25,63.5,63.75,64.0,64.25,64.5,64.75,65.0,65.5,...,973.75,974.75,975.25,976.75,983.0,983.25,984.25,985.5,985.75,987.25
dirty1,2396.112157,2732.816241,2503.120158,3175.701993,2491.519797,3376.372728,2379.278348,3893.959818,3700.909270,2791.478938,...,NaN,1612.164247,1825.696325,1618.936623,1529.554299,1421.738311,1908.985857,1584.202861,NaN,1416.757963
C027,2924.869854,2634.743070,2922.570909,20896.654813,3609.012422,5075.712325,2879.633353,2323.207101,3371.072612,2921.084247,...,3292.982632,NaN,NaN,NaN,NaN,NaN,NaN,1508.524129,1047.903387,NaN